.accordion {
  &__header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    border-bottom: 1px solid $grey2;
    gap: 20px;
    @include media-breakpoint-up(lg) {
      padding: 30px 0;
    }
  }

  &__trigger {
    @include reset-btn;
    font-size: 18px;
    flex: 0 0 auto;
    margin-left: auto;
    justify-self: center;

    .icon {
      transition: $transition-custom;
      transform: rotate(180deg);
    }

    @include media-breakpoint-up(lg) {
      font-size: 30px;
    }
  }

  &__header.collapsed &__trigger .icon {
    transform: rotate(0deg);
  }

  &__body {
    padding: 10px 0;
    @include media-breakpoint-up(lg) {
      padding: 50px 0;
    }
  }
}
