.breadcrumbs {
  @include list-unstyled;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 8px;
  list-style: none;
  color: $grey;
  gap: 0.5em;
  line-height:1.1;
  @include media-breakpoint-down(sm) {
    font-size: 13px;
  }
  a {
    color: currentColor;
    &:hover {
      color: $red;
    }
  }

  li {
    &:not(:first-child) {
      &::before {
        margin-right: 0.5em;
        content: '>';
      }
    }
  }
}
