.column-slider {
  &__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    color: $black;
    gap: 12px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 20px;
      gap: 22px;
    }

    button {
      @include reset-btn;
      line-height: 1;
      &:disabled {
        opacity: 0.5;
      }
    }
    .swiper-button-next {
      .icon {
        background: url(../Icons/arrow-right.svg) no-repeat center center;
      }
    }
    .swiper-button-prev {
      .icon {
        background: url(../Icons/arrow-left.svg) no-repeat center center;
      }
    }
    .icon {
      font-size: 30px;
      @include media-breakpoint-up(lg) {
        font-size: 50px;
      }
    }
  }
  .swiper-slide {
    height: auto;
  }
}

.swiper-wrapper {
  height: auto;
}