.contact-person {

  &-body {
    .sticky-products, .sticky {
      display: none;
    }
  }

  &-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(10px, 1fr));
    gap: rem(18);
    row-gap: rem(30);

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    &-four {
      grid-template-columns: repeat(4, minmax(10px, 1fr));
    }

    &-six {
      @include media-breakpoint-up(xxl) {
        grid-template-columns: repeat(6, minmax(10px, 1fr));
      }
    }

    .btn {
      @include media-breakpoint-down(sm) {
        padding: rem(8) rem(10);
        display: flex;
        min-height: initial;
        margin-bottom: 0 !important;
      }
    }
  }

  &-card {
    margin-bottom: 1rem;

    figure {
      aspect-ratio: 256 / 337;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .star {
      height: rem(15);
      width: fit-content;
      margin-bottom: 5px;
      margin-right: 8px;
    }
  }
}
