.dload-check {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    appearance: none;
  }

  label::before {
    display: block;
    width: 21px;
    height: 21px;
    content: '';
    background: url("../Icons/plus-circle.svg") no-repeat center;
    background-size: contain;
  }

  input:checked + label::before {
    background-image: url("../Icons/check-circle.svg");
  }
}
