/* crimson-pro-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-200italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-300italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-500italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-600italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-700italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-800italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* crimson-pro-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Crimson Pro';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/CrimsonPro/crimson-pro-v23-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Assistant/assistant-v18-latin-200.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Assistant/assistant-v18-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Assistant/assistant-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Assistant/assistant-v18-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Assistant/assistant-v18-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Assistant/assistant-v18-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* assistant-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Assistant/assistant-v18-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-family: "Corporate S W01 Light";
  src: url("../fonts/CorporateS/885764/a4e15547-0e81-415e-9386-22cefb0e0c38.eot?#iefix");
  src: url("../fonts/CorporateS/885764/a4e15547-0e81-415e-9386-22cefb0e0c38.eot?#iefix") format("eot"), url("../fonts/CorporateS/885764/1c7e8feb-d184-494e-8619-777ea84813c4.woff") format("woff"), url("../fonts/CorporateS/885764/6e9cfebc-c1d5-4d9e-8604-3f410db68ced.ttf") format("truetype"), url("../fonts/CorporateS/885764/f6e549b5-4b86-47d0-b1b1-fa574149cc23.svg#f6e549b5-4b86-47d0-b1b1-fa574149cc23") format("svg");
}

@font-face {
  font-family: "Corporate S W01 Demi";
  src: url("../fonts/CorporateS/885791/ca4544ba-4e44-426f-bce5-7072a71a2ac2.eot?#iefix");
  src: url("../fonts/CorporateS/885791/ca4544ba-4e44-426f-bce5-7072a71a2ac2.eot?#iefix") format("eot"), url("../fonts/CorporateS/885791/e71d6bca-0a2a-4a9e-8ca9-dbb9ce20837e.woff") format("woff"), url("../fonts/CorporateS/885791/58ed4793-c43c-4b9b-b3b7-95eba046e069.ttf") format("truetype"), url("../fonts/CorporateS/885791/26def4b1-2111-4afa-8c15-f8655b48fc71.svg#26def4b1-2111-4afa-8c15-f8655b48fc71") format("svg");
}
