.sticky-products {
  position: sticky;
  z-index: 1020;
  bottom: 68px;
  height: 0;
}

.sticky-products-btn {
  @include reset-btn;
  font-size: 24px;
  position: absolute;
  right: calc($grid-gutter-width / 2);
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transition: all .2s ease;
  border-radius: 50%;
  background: $grey;

  @include media-breakpoint-up(sm) {
    right: 0;
  }

  @include media-breakpoint-up(md) {
    font-size: 28px;
    width: 56px;
    height: 56px;
  }

  &:hover {
    transform: scale(1.1) rotate(15deg);
  }
}

.sticky-fe-button {
  @extend .sticky-products-btn;
  background-color: #202020 !important;
  bottom: rem(-50) !important;
}

.sticky-products-offcanvas {
  --bs-offcanvas-width: 1090px;
  background-color: $partner-gray;

  .ce-bodytext {
    ul {
      columns: 1;

      @include media-breakpoint-up(sm) {
        columns: 2;
      }

      li {
        padding: 0;

        &:before {
          display: none;
        }
      }

      a {
        color: $text-color;
        font-weight: 600;

        &:hover, &:focus {
          color: $red;
        }
      }
    }
  }
}
