.sticky-chat {
  position: sticky;
  z-index: 1020;
  bottom: 0;
  height: 0;
}

.sticky-chat-socialnav {
  font-size: 13px;
  @include media-breakpoint-up(md) {
    font-size: 22px;
  }

  ul {
    @include list-unstyled;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include media-breakpoint-up(md) {
      justify-content: start;
      gap: 20px;
    }
  }
}

.sticky-chat-btn {
  @include reset-btn;
  font-size: 24px;
  position: absolute;
  right: calc($grid-gutter-width / 2);
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  transition: all .2s ease;
  border-radius: 50%;
  background: $primary;
  @include media-breakpoint-up(sm) {
    right: 0;
  }
  @include media-breakpoint-up(md) {
    font-size: 28px;
    width: 56px;
    height: 56px;
  }

  &:hover {
    transform: scale(1.1) rotate(15deg);
  }
}

.sticky-chat-offcanvas {
  --bs-offcanvas-width: 1090px;
}
