.table {
  &-filter {
    display: flex;
    flex-flow: wrap;
    row-gap: rem(32) !important;

    form {

      select,
      input[type="text"] {
        height: rem(50);
        padding: 0 rem(15);
        border: solid 1px #707070;
        border-radius: rem(5);
      }

      select {
        @extend .btn-select;
        padding-right: rem(50);
      }

      //& > div {
      //  display: none;
      //}
    }

    input[name="tx_dlywiniclub_reclamation[orderNumber]"] {
      width: 28ch;
      margin: 5px 0;
    }
  }

  &-wrapper {
    background-color: $partner-gray;
    position: relative;

    &.minus-margin-bottom {
      margin-bottom: -120px;

      @include media-breakpoint-down(lg) {
        margin-bottom: 20px;
      }
    }

    @include media-breakpoint-up(sm) {
      padding: rem(130) 0;
    }

    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 100%;
      height: 100%;
      background-color: $partner-gray;
      display: none;

      @include media-breakpoint-up(sm) {
        display: block;
        width: calc((100vw - (#{map-get($container-max-widths, sm)} - 20px)) / 2);
      }

      @include media-breakpoint-up(md) {
        width: calc((100vw - (#{map-get($container-max-widths, md)} - 20px)) / 2);
      }

      @include media-breakpoint-up(lg) {
        width: calc((100vw - (#{map-get($container-max-widths, lg)} - 20px)) / 2);
      }

      @include media-breakpoint-up(xl) {
        width: calc((100vw - (#{map-get($container-max-widths, xl)} - 20px)) / 2);
      }

      @include media-breakpoint-up(xxl) {
        width: calc((100vw - (#{map-get($container-max-widths, xxl)} - 20px)) / 2);
      }
    }

    &:after {
      @extend .table-wrapper, :before;
      right: initial;
      left: 100%;
    }
  }

  .ce-table {
    overflow-x: auto;
    background-color: #fff;
    display: block;

    &.delivery-times {
      width: 100%;
      padding-top: 0;

      tbody {
        width: 100%;
      }

      tr {
        td:nth-child(1) {
          min-width: rem(550);
        }

        td:nth-child(2) {
          width: 100%;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      padding: rem(50);
    }

    thead {
      tr {
        th {
          border: initial !important;
          font-weight: 400;
          color: $grey;
          padding-left: 0;
          padding-right: rem(35);
          white-space: nowrap;
        }
      }
    }

    tbody {

      td,
      th {
        padding: rem(11) rem(80) rem(11) 0;
        width: auto;
        @extend .text-22;
      }
    }
  }

  &.table-avisierung {
    @include media-breakpoint-down(sm) {
      #order-filter-lieferwoche {
        flex-wrap: wrap;

          span.filter-label {
            flex: 0 0 100%;
            padding-bottom: 0.5rem;
          }
          span.filter-label + select {
            padding-left: 0.9375rem;
            margin-left: 0 !important;
          }
      }
    }
    table {
      tr {

        th,
        td {
          &:nth-child(1) {
            width: 10%;
          }

          &:nth-child(2) {
            width: 8%;
          }

          &:nth-child(3) {
            width: 8%;
          }

          &:nth-child(4) {
            width: 25%;
            min-width: rem(350);

            @include media-breakpoint-up(xl) {
              min-width: rem(510);
            }

          }

          &:nth-child(5) {
            width: 15%;
          }

          &:nth-child(7) {
            padding-right: initial;

            a {
              margin-left: auto;
              display: block;
              width: fit-content;
            }
          }
        }
      }
    }

  }

  .table-avisierung-detail {
    tr {

      th,
      td {
        &:nth-child(5) {
          width: 22%;
        }

        &:nth-child(6) {
          width: 30%;
        }

        &:last-child {
          padding-right: initial;
        }
      }
    }
  }


  th.sortable a {
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    color: inherit;
    text-decoration: none;
  }
  th.sortable a:hover {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  }

  .sort-arrows {
    display: inline-flex;
    flex-direction: column;
    line-height: 0.9;
    font-size: 0.75em;
    opacity: 1;
    gap: 3px;
  }

  .sort-arrows .arrow {
    height: 0.6em;
    line-height: 0.6em;
  }

  /* aktive Spalte */
  .sort-arrows.is-active {
    opacity: 1;
  }

  /* aktive Richtung */
  .sort-arrows.is-active.is-asc .arrow-up {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    opacity: 1;
    font-size: 1.35em;
  }

  .sort-arrows.is-active.is-asc .arrow-down {
    display: none;
  }

  .sort-arrows.is-active.is-desc .arrow-down {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    opacity: 1;
    font-size: 1.35em;
  }

  .sort-arrows.is-active.is-desc .arrow-up {
    display: none;
  }

  th.sortable a:hover .sort-arrows {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  }

  .sort-icon {
    display: inline-flex;
    align-items: center;
    margin-left: .25rem;
    color: inherit;            /* inaktiv: Farbe vom umschließenden Element */
  }

  .sort-icon svg {
    width: 1em;
    height: 1em;
    display: block;
    fill: currentColor;        /* SVG übernimmt currentColor */
  }

  .sort-icon.is-active {
    color: rgb(var(--bs-link-color-rgb));   /* aktiv: Bootstrap Link-Farbe */
  }

}

.wrapper:has(.table-avisierung) {
  &:last-of-type {
    padding-bottom: initial !important;
  }
}