@keyframes mouse-icon-wave {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

.teaser {
  &__controls {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    left: 0;
    @include media-breakpoint-up(xl) {
      bottom: 70px;
    }
    button {
      @include reset-btn;
      font-size: 50px;
      color: $white;
      @include media-breakpoint-down(lg) {
        font-size: 42px;
      }
      @include media-breakpoint-down(sm) {
        font-size: 36px;
      }
    }

    .icon {
      transition: all 0.2s ease;
    }

    .swiper-button-disabled {
      opacity: 0.5;
    }

    .swiper-button-prev {
      &:not([disabled]):hover .icon {
        transform: translateX(-5px);
      }
    }

    .swiper-button-next {
      &:not([disabled]):hover .icon {
        transform: translateX(5px);
      }
    }
  }

  &__mouse-mark {
    @include reset-btn;
    font-size: 60px;
    line-height: 1;
    position: absolute;
    z-index: 10;
    bottom: 35px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    animation: mouse-icon-wave 1s infinite alternate-reverse ease-in-out;
  }
}

.teaser-slide {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 60px;
  padding-top: 30px;
  flex-direction: column;
  justify-content: flex-end;

  @include media-breakpoint-down(xl) {
    /*min-height: 70vh;*/
  }
  @include media-breakpoint-down(lg) {
    min-height: 430px;
  }
  @include media-breakpoint-down(sm) {
    min-height: 330px;
    padding-bottom: 30px;
    .mb-40px {
      margin-bottom: 20px !important;
    }
  }
  @include media-breakpoint-up(xl) {
    padding-top: 70px;
    padding-bottom: 170px;
  }
  @media (min-width: 1921px) {
    padding-bottom: 16vh;
  }
  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.03);
  }

  &__media {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__content {
    position: relative;
    width: 100%;
    color: $white;

    @include media-breakpoint-down(sm) {
      .btn {
        min-height: 40px;
        padding: 7px 14px;
      }
    }
  }
}
